/*<link rel="stylesheet" media="all and (orientation:portrait)" href="portrait.css">
<link rel="stylesheet" media="all and (orientation:landscape)" href="landscape.css">
*/

* { -webkit-user-select: none; }

#flicker_container {
/*  position: absolute;*/
/*  background: #222222;*/
}

#groups_container {
}

#groups_container,
#groups ul,
#groups li {
  display: inline-block;
}


/*.group_items,*/
.group_items ul,
.group_items li {
  display: inline-block;
}


#group_items_container {
  position: absolute;
  top: 0px; 
  left: 0px;
}

#detail_container {
  position: absolute;
  top: 0px; 
  left: 0px;
}

.card_stack {
/*  position: relative;
  border: 1px solid #000000;
*/
}

.small_card {
  padding: 10px;
  margin: 10px;
  background: #eeeeee;
  -webkit-box-shadow: 5px 5px 20px #555555;
  -webkit-border-radius: 5px;
  font-size: 12px;
  width: 112px;
}

.card_stack .small_card.upper {
  -webkit-box-shadow: 1px 1px 2px #555555;
}

.small_card.under,
.small_card.middle {
  position: absolute;
}

.small_card img {
  width: 112px;
/*  150px;*/
  height: 150px;
  /* 200px;*/
  -webkit-border-radius: 5px;
}

.large_card {
  padding: 30px;
  margin: 30px;
  background: #eeeeee;
  -webkit-box-shadow: 15px 15px 20px #555555;
  -webkit-border-radius: 15px;
}

.large_card img {
  width: 450px;
  height: 600px;
  -webkit-border-radius: 15px;
}

#triselectionbuttons a, #duoselectionbuttons a {
  display: inline-block;
  text-align: center;
  color: white;
  text-decoration: none;
  margin-top: 1px;
  text-shadow: black 0 -1px 0;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(133,133,133,0.7)), color-stop(3%, rgba(99,99,99,0.7)), color-stop(50%, rgba(32,32,32,0.7)), color-stop(51%, rgba(0,0,0,0.7)), color-stop(97%, rgba(0,0,0,0.7)), to(rgba(38,38,38,0.7)));
}



#content {
/*  -webkit-perspective: 500;*/
/*  -webkit-transform-style: preserve-3d;*/

/*  -webkit-transform: rotateY(30deg);*/
/*  -webkit-transform: rotateX(60deg);*/
}



/* webkit css animations */

.front_screen {
  -webkit-animation-name: to_front_screen;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-duration: 300ms;
  -webkit-transform: scale(1);
  opacity: 1;
  z-index: 10;
}


@-webkit-keyframes to_front_screen {
    from {
        -webkit-transform: scale(0);
        opacity: 0;
    }
    to {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}

.back_screen {
  -webkit-animation-name: to_back_screen;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-duration: 200ms;
  -webkit-transform: scale(0);
  opacity: 0;
  z-index: 0;
}


@-webkit-keyframes to_back_screen {
    from {
        -webkit-transform: scale(1);
        opacity: 1;
    }
    to {
        -webkit-transform: scale(5);
        opacity: 0;
    }
}

.detail_screen {
  -webkit-animation-name: to_detail_screen;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-duration: 350ms;
  -webkit-transform: scale(1) !important;
  opacity: 1;
  z-index: 10;
}


@-webkit-keyframes to_detail_screen {
    from {
        -webkit-transform: scale(0);
        opacity: 0;
    }
    to {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}



/* webkit css animations */

/*.in, .out {
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-duration: 500ms;
}

.pop {
  -webkit-transform-origin: 50% 50%;
}

.pop.in {
  -webkit-animation-name: popin;
  z-index: 10;
}

.pop.out.reverse {
  -webkit-animation-name: popout;
  z-index: 10;
}

.pop.out {
  -webkit-animation-name: popout;
  z-index: 10;
}

.pop.half_out {
  -webkit-animation-name: popout;
  z-index: 10;
}



.pop.in.reverse {
  z-index: 0;
  -webkit-animation-name: dontmove;
}

@-webkit-keyframes popin {
    from {
        -webkit-transform: scale(0);
        opacity: 0;
    }
    to {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}

@-webkit-keyframes popout {
    from {
        -webkit-transform: scale(1);
        opacity: 1;
    }
    to {
        -webkit-transform: scale(0.8);
        opacity: 0.3;
    }
}*/