[submodule "vendor/plugins/neo4j"]
	path = vendor/plugins/neo4j
	url = git@github.com:dinge/neo4j.git
[submodule "vendor/rails"]
	path = vendor/rails
	url = git@github.com:dinge/rails.git
[submodule "vendor/gems/minimal"]
	path = vendor/gems/minimal
	url = git@github.com:dinge/minimal.git
