[submodule "vendor/plugins/neo4j"]
	path = vendor/plugins/neo4j
	url = git://github.com/andreasronge/neo4j.git
[submodule "vendor/plugins/formtastic"]
	path = vendor/plugins/formtastic
	url = git@github.com:roborails/formtastic.git
