@CHARSET "UTF-8";

.edit_tools_phrase_maker_triple input[type=text],
.new_tools_phrase_maker_triple input[type=text]{
  width: 29%;
}

#tools_phrase_maker_triples {
  font-size: 1.2em;
}

#tools_phrase_maker_triples .subject {
  color: #610909;
}

#tools_phrase_maker_triples .predicate {
  color: #420909;
}

#tools_phrase_maker_triples .object {
  color: #200909;
}


.tools_phrase_maker_triple .control {
  font-size: 0.8em!important;
}