@CHARSET "UTF-8";

.edit_tools_phrase_maker_triple input[type=text],
.new_tools_phrase_maker_triple input[type=text]{
  width: 29%;
}

.phrase_maker_gizmo .wrapper {
  width: 1em;
}

.phrase_maker_gizmo a {
  font-size: 1.2em;
  padding: 4px;
}

.phrase_maker_gizmo a:focus,
.phrase_maker_gizmo a:hover,
.phrase_maker_gizmo a:active,
.phrase_maker_gizmo a.active {
  padding: 3px;
}

.phrase_maker_gizmo .subject,
.graph_visualization .subject {
  color: #610000;
}

.phrase_maker_gizmo .predicate,
.graph_visualization .predicate {
  color: #420909;
}

.phrase_maker_gizmo .object,
.graph_visualization .object {
  color: #200909;
}

.phrase_maker_gizmo .control {
  font-size: 0.8em!important;
}

.phrase_maker_gizmo .wrapper.active {
  border: 1px solid #420909;
  padding: 4px 0;
  margin-left: -1px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

a.same_gizmo {
/*  color: #008800!important;*/
  color: #00aa00!important;
}



.graph_visualization .subject {
  color: #610000;
  font-size: 1.5em;
}

.graph_visualization .predicate {
  color: #420909;
  font-size: 0.9em;
}

.graph_visualization .object {
  color: #200909;
  font-size: 1.0em;
}
