@CHARSET "UTF-8";

.edit_tools_phrase_maker_triple input[type=text],
.new_tools_phrase_maker_triple input[type=text]{
  width: 29%;
}


#tools_phrase_maker_triples a {
  font-size: 1.2em;
  padding: 4px;
}

#tools_phrase_maker_triples a:focus,
#tools_phrase_maker_triples a:hover,
#tools_phrase_maker_triples a:active,
#tools_phrase_maker_triples a.active {
  padding: 3px;
}

#tools_phrase_maker_triples .subject {
  color: #610000;
}

#tools_phrase_maker_triples .predicate {
  color: #420909;
}

#tools_phrase_maker_triples .object {
  color: #200909;
}


.tools_phrase_maker_triple .control {
  font-size: 0.8em!important;
}

.tools_phrase_maker_triple.active {
/*  font-size: 1.8em!important;*/
}


