@CHARSET "UTF-8";
/* ---------------------------------- main content blocks ------------------------------------------*/

body {
  text-align: center;
  font-size: 100%;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Trebuchet MS', Verdana, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background:#fff url(/images/header_background.png) repeat-x 0 0;
}

#header {
/*  margin: 0 auto;*/
  padding-top: 10px;
  position: relative;
  height: 100px;
  min-width: 910px;
  text-align: left;
}

#logo {
  font-size: 3em;
}

/*div#header img {
  padding:0;
  margin:0;
  width:132px;
  height:40px;
  border:0;
}
*/

#page {
  width: 97%;
  margin: 0 auto;
  min-width: 910px;
  padding: 0 10px;
}

#main {
  text-align: left;
  min-height: 20em;
  padding-top: 2em;
}

#content {
  width: 70%;
  float: left;
  padding-bottom: 2em;
}

#sidebar {
  width: 20%;
  float: right;
}


#footer {
  color: #666;
  background: #eee;
  font-size: .8em;
  text-align: left;
  min-width: 910px;
/*  margin: 0 auto 20px auto;*/
  padding: 3px;
}

#footer {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}


/* ---------------------------------- headlines ------------------------------------------*/

h1 {
  font-size: 1.7em;
  font-weight: normal;
  border-bottom: 1px dotted #333;
  padding-bottom: 10px;
}

h2 {
  font-size: 1.4em;
  font-weight: normal;
  margin-bottom: .3em;
}

h3 {
  font-size: 1.1em;
  font-weight: normal;
  margin-bottom: .3em;
}

h4 {
  font-size: 1.0em;
  font-weight: normal;
  margin-bottom: .3em;
}

/*
h3 {
  border-bottom: 2px #aaa dotted;
}
*/


/* ----------------------- misc ------------------------------------------------*/

hr.clearfix {
  clear: both;
  visibility: hidden;
  padding: 0;
  margin: 0;
}


#content p {
  color: #666;
  line-height: 1.5em;
}


/* ----------------------- system messages ------------------------------------------------*/

.system_message {
  padding: 5px 5px;
}

.notice_message {
  background: #dfd;
  border-top: 1px #bdb dotted;
  border-bottom: 1px #bdb dotted;
}

.important_message {
  background: #ffd;
  border-top: 1px #ddb dotted;
  border-bottom: 1px #ddb dotted;
}

.warning_message {
  background: #fdd;
  border-top: 1px #dbb dotted;
  border-bottom: 1px #dbb dotted;
}


/* ----------------------- links ------------------------------------------------*/


a {
  color: #420909;
  text-decoration: none;
  padding: 3px;
  /*  color: #426998;*/
}

a:focus,
a:hover,
a:active,
a.active {
  border: 1px solid #420909;
  padding: 2px;
}

a:hover {
  color: #000000;
}

/* ----------------------- lists ------------------------------------------------*/


li {
  list-style-type: none;
}

dl{
  margin: 0 0 1em;
}

dt {
  color: #555;
  font-weight: bold;
}

dd {
  margin: 0px 20px;
}
