form {
  margin: 0px;
  padding: 0px;
}

input {
  width: 250px;
}

select,
input,
textarea {
  background: #ddd;
  border: 1px solid #aaa;
  padding: 5px;
  margin: 10px 0 0 0;
  width: 350px;
}

input:focus,
textarea:focus {
  background: #eee;
}

select {
  width: 362px;
}

textarea {
  height: 100px;
}

label {
  display: block;
  margin: 5px 0px;
  float: left;
  clear: left;
  width: 70px;

  color: #555;
  font-weight: bold;
}

button {
  display: block;
  float: left;
  clear: both;
  margin: 1em 0 1em 90px;
}

input[type=checkbox] {
  margin-top: 13px;
}

/*
input[type=radio]:first-child  {
    margin-left: 10px;
}
*/

label .old_left {
  display: block;
  margin: 12px 10px 0;
  font-weight: 700;
  font-size: .9em;
  float: left;
  clear: left;
  width: 70px;
  text-align: right;
}
