@CHARSET "UTF-8";

/* ----------------------- form ------------------------------------------------*/

form {
  margin: 0px;
  padding: 0px;
}

fieldset {
  padding: 10px 30px;
  margin: 0;
  border: 1px solid #cccccc;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
}

legend { 
  margin: 15px;
  padding: 0 15px;
  text-align: left;
  font-size: 1.8em;
}

label {
  color: #666666;
  font-weight: bold;
  font-size: 0.8em;
  padding: 1em 0 0.2em;
  display: block;
/*  float: left;*/
/*  clear: left;*/
}

input,
select,
textarea {
  font-size: 1.2em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}


input[type=text],
select,
textarea {
  border: 1px solid #cccccc;
  width: 100%;
  background: #eee;
}

input:focus,
textarea:focus {
  background: #fefeef;
}

input[type=checkbox] {
  margin-top: 13px;
}

input[type=submit],
button {
  margin: 1em 0;
  background:#eee url(/images/header_background.png) repeat-x 0 0;
  border: 0;
  color: #fefefe;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}


/* ----------------------- autocompleter ------------------------------------------------*/

div.autocomplete {
  position: absolute;
  width: 250px;
  background-color:white;
  border: 1px solid #888;
  margin: 0;
  padding: 0;
}

div.autocomplete ul {
  list-style-type:none;
  margin: 0;
  padding: 0;
}

div.autocomplete ul li.selected {
  background-color: #ffb;
}

div.autocomplete ul li {
  list-style-type: none;
  display: block;
  margin: 0;
  padding: 2px;
  height: 32px;
  cursor: pointer;
}


/*
input[type=radio]:first-child  {
    margin-left: 10px;
}
*/
/*
label .old_left {
  display: block;
  margin: 12px 10px 0;
  font-weight: 700;
  font-size: .9em;
  float: left;
  clear: left;
  width: 70px;
  text-align: right;
}*/


/*form {
  margin: 0px;
  padding: 0px;
}


label {
  width: 40px;
  float: left;
  clear: left;
  width: 70px;
  margin-right: 0.5em;
  display: block
}

input,
textarea {
  color: #781351;
  background: #fee3ad;
  border: 1px solid #781351;
  width: 100%;
}

fieldset {
  border: 1px solid #781351;
  width: 450px; 
}

legend { 
  color: #fff;
  background: #ffa20c;
  border: 1px solid #781351;
  padding: 2px 6px
}*/