@CHARSET "UTF-8";

/*S I D E B A R*/

/*
div#sidebar div.box {
  margin:0 0 2em 0;
}

div#sidebar div.box h3 {
  color:#666;
  padding:.3em .8em .3em .8em;
  margin-bottom:0;
  font-size:.85em;
}


div#sidebar div.box .content{
  padding:.8em .8em .8em .8em;
  background:#eee;
  font-size:.9em;
  color:#666;
}


div#sidebar div.box .content ul{
  padding:0;
  margin:0;
}

div#sidebar div.box .content ul li{
  padding:0;
  margin:0 0 .4em 0;
  list-style-type:none;
}


div#sidebar div.box .content ul ul{
  margin:.5em 0 0 0;
}


div#sidebar div.box .content ul li li{
  padding:0;
  margin:0 0 .5em 1em;
}


div#sidebar div.box .content ul li a{
  text-decoration:none;
  color:#426998;
}


div#sidebar div.box .content ul li a:hover{
  text-decoration:none;
  color:#639EE6;
}

div#sidebar div.box .content form {
  margin-bottom:1em;
}

div#sidebar div.box .content fieldset {
  border:0;
  padding:0;
}


div#sidebar p {
  color:#666;
  line-height:1.5em;
}
*/