table {
  width: 100%;
}

.gizmo_index caption {
  font-size: 25px;
  padding-bottom: 10px;
  text-align: left;
  padding-left: 15%;
}

.gizmo_index td {
  padding:7px;
}


.gizmo_index td:first-child  {
  font-size: 0.8em;
  padding-left: 30%;
  width: 80px;
  border-right: 2px dotted #ddd;
}