@CHARSET "UTF-8";
/* ---------------------------------- tabs ------------------------------------------*/


ul.tab_control {
  list-style: none;
  margin: 10px 0 10px 0;
  padding: 0;
  clear: both;
  height: 30px;
  clear: both;
  border: 2px solid #ccc;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
}

ul.tab_control li {
  float: left;
  text-align: center;
  margin: 0 10px;
}

ul.tab_control li a {
  display: block;
  color: #666;
  font-weight: bold;
}

ul.tab_control a:hover {
  color: #000000;
}


div.tab_content {
  padding: 10px 10px;
/*  border: 1px solid #ccc;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
*/
}