/* core widgets */

.document{
  margin: 1em auto;
  width: 760px;
}

.navigation{
  padding: 5px 5px;
  background-color: #ddd;
}

#main_navigation {
  font-size: 1.2em;
}

.content{

}

.scope{
  width: 550px;
  float: left;
}

.scope_navigation{
  margin: 10px;
  width: 180px;
  float: right;
  font-size: .8em;
}


#footer_navigation {
  font-size: 0.8em;
}


/* more special */

.collection_control{
  padding: 10px 5px;
  text-align: right;
  font-size: 1.0em;
}

legend .object_control{
  font-size: 0.6em;
}

.node_meta_info {
  font-size: 0.6em;
}


/* things and thing controls */
/*li {
  float:left;
  list-style-type: none;
}
*/

.thing-container {
  border: 1px black dotted;
  margin: 8px;
}

.drag-hover {
  border: 1px red solid;
}


/*.thing-container .drag-handle {
  opacity: 0.1;
}*/