@CHARSET "UTF-8";

/* more special */

legend .object_control {
  font-size: 0.6em;
  font-weight: bold;
}

.node_meta_info li {
  font-size: 0.6em;
  display: inline;
}


/* things and thing controls */
/*li {
  float:left;
  list-style-type: none;
}
*/

.thing-container {
  border: 1px black dotted;
  margin: 8px;
}

.drag-hover {
  border: 1px red solid;
}

/*.thing-container .drag-handle {
  opacity: 0.1;
}*/



.control_with_confirmation .warning_message {
}