<ul>
  <% 500.times do |i| %>
    <li class="thing-container droppable" id="c<%= i %>">
      <span class="thing" id="t<%= i %>">
        thing <%= i %>
      </span>
      <span class="drag-handle" id="h<%= i %>" style="opacity: 0.1;">[x]</span>
    </li>
  <% end %>
</ul>